<div class="navbar">
    <!-- MENU DE OPCIONES -->
    <ul>
        <li><a href="#">INICIO</a></li>
        <li><a href="#">NOSOTROS</a></li>
        <li><a href="#">C FORUM</a></li>
        <li><a href="#">NOTICIAS</a></li>
        <li><a href="#">SUSCRIPCIÓN</a></li>
        <li><a href="#">CONTACTO</a></li>
        <li id="date">Jueves, 30 de Abril de 2020 11:30</li>
    </ul>
</div>
<!-- PORTADA -->

<section class="container">
    <div class="child">
        <h4 id="cover">Revista</h4>
        <h3 id="tit-cover">F<span>O</span>RUM</h3>
        <p>Contigo tambien en formato digital.</p>
    </div>
</section>
<!-- INICIO DE TARJETAS -->
<!-- CIRCULO 1 -->
<div class="flex-container">
    <div id="morado">
        <div id="childMorado">
            <h3>Escúchanos en Vivo</h3>
            <h3>ONLINE</h3>
            <div class="circulo"></div>
            <div class="text1">FORUM <br> Radio</div>
            <div class="text2">Los sonidos del mundo!</div>
        </div>
    </div>
    <!-- CIRCULOS 2 -->
    <div id="gris">
        <div id="childGris">
            <h3>F<span>O</span>RUM</h3>
            <h4>Te invita</h4>
            <div class="circulo-2"></div>
            <div class="text3">CÍRCULO <br> <span>Emprendedores</span></div>
            <p class="text4">Lorem ipsum dolor sit amet consectetur, adipisicing elit.dfdsfdsfdfdg <br> Hic architecto ut accusamus illum temporibus excepturi eos <br> dolor, assumenda voluptatibus dolorem.</p>
            <p class="text5">REVISTA FORUM</p>
            <p class="text6">La revista de negocios de la región.</p>
        </div>
    </div>

    <!-- FACEBOOK -->
    <div id="logos">
        <div id="fbimg">
            <img src="./../../../assets/img/fb.png" alt="">
            <p>A 9999 personas les gusta esto</p>
        </div>
        <div class="row">
            <img src="./../../../assets/img/logo.png">
            <img src="./../../../assets/img/logo.png">
            <img src="./../../../assets/img/logo.png">
            <img src="./../../../assets/img/logo.png">
        </div>
        <div class="row">
            <img src="./../../../assets/img/logo.png">
            <img src="./../../../assets/img/logo.png">
            <img src="./../../../assets/img/logo.png">
            <img src="./../../../assets/img/logo.png">
        </div>
    </div>

    <!-- DATOS -->
    <div id="hoja">
        <div id="childHoja">
            <h4 class="textDiv4">Revista</h4>
            <h3 class="forum">F<span>O</span>RUM</h3>
            <p class="contactanos">CONTACTANOS</p>
            <p class="email">EMAIL:</p><br>
            <p class="contacto">contacto@revistaforum.com</p><br>
            <p class="telefono">TELEFONO: </p><br>
            <p class="numero">42-2-38-12-81</p><br>
            <p class="direccion">DIRECCION: </p><br>
            <p class="address">Av. Libertad 683 - Chiflan</p>
        </div>
    </div>
</div>